<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name %>
        <%= @user.last_name %>
      </h1>
    </section>
    <nav>
      <li><a href="/known_gastroverse/home">Known Gastroverse</a></li>
      <li><a href="/unknown_gastroverse/home">Unknown Gastroverse</a></li>
    </nav>
  </aside>
</div>
